%footer
    %p Call #{link_to '+233208747355', "tel:00233208747355"} 

    = link_to image_tag('devcongress.svg', :class => "footer--logo"), '/'
    = "&copy; #{Date.today.year} #{t('app.author')}.".html_safe
