%footer
    %section.footer--text.text--center
        .container
            %p You've heard us speak, will you work with us? Call #{link_to '+233208747355', "tel:00233208747355"} or leave us a message below.

            = render template: 'contacts/new'

    %section
        .container
            %span.align--left.copyright
                © Copyleft, 2015.

            %span.align--right
                = link_to image_tag('boughtspot.svg', :class => "footer--logo"), '/'
                = "&copy; #{Date.today.year} #{t('app.author')}.".html_safe
